{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}
  <div class="flex-l mt2 mw8 center">
    <article class="center cf pv5 ph3 ph4-ns mw7">
      <header>
        <h1 class="f1">
          {{ .Title }}
        </h1>
      </header>
      <div class="nested-copy-line-height lh-copy f4 nested-links {{ $.Param "text_color" | default "mid-gray helvetica" }}">
        {{ .Content }}
      </div>
    </article>
  </div>
  <script>
    console.log(window.scrollY / document.documentElement.scrollHeight);
    const scroll = new URLSearchParams(window.location.search).get('scroll');
    if (scroll != null) {
      window.scrollTo(0, document.documentElement.scrollHeight * scroll);
    }
  </script>
<!--      {{ if eq .Title "Upcoming Shows"}}
    <button type="button" class="button2" onclick="window.open('https://westerville.hometownticketing.com/embed/all?schools=14&depts=3', '_blank').focus();">
      Buy Tickets!
    </button>
      {{ end }}-->
{{ end }}
