<header class="site-header">
  <div class="container-wide nav-inner">
    <a class="brand" href="/" aria-label="Westerville South Theatre home">
      <img class="brand-mark" src="/images/troupe513-mark-white.png" alt="" width="600" height="600">
      <span class="brand-copy">
        Westerville South Theatre
        <small>Theatre Troupe 513 Boosters</small>
      </span>
    </a>
    <button class="menu-button" type="button" aria-expanded="false" aria-controls="primary-navigation" data-menu-button>Menu</button>
    <ul class="nav-menu" id="primary-navigation" data-menu>
      {{ range site.Menus.main }}
        {{ $isTickets := eq .Name "Tickets" }}
        <li>
          <a class="nav-link{{ if $isTickets }} nav-link-tickets{{ end }}" href="{{ .URL }}"{{ if $.IsMenuCurrent .Menu . }} aria-current="page"{{ end }}>{{ .Name }}</a>
        </li>
      {{ end }}
    </ul>
  </div>
</header>
