.button {
    border: none;
    color: white;
    padding: 30px 64px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #008CBA;
    position: absolute;
    margin-left: 50%;
    margin-right: -50%;
    margin-top: 2%;
    transform: translate(-50%, -50%);
    border-radius: 25%;
}

.button:hover {background-color: #00b3ed;}

.button2 {
    border: none;
    color: white;
    padding: 30px 64px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #008CBA;
    position: absolute;
    margin-left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 25%;
}

.button2:hover {background-color: #00b3ed;}

.ananke-socials a {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    fill: currentColor;
}

.sponsor {
    height: 50px;
    width: auto;
    border: none;
}

.sponsors {
    text-align: center;
}

.sponsors-title {
    margin-bottom: 3%;
}

.image-size {
    max-width: 25%;
    max-height: 25%;
}